body {
  background-color: #fbfbfb;
  text-decoration: none;
  overflow-x: hidden;
}

.mainSection {
  margin: 50px 120px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 80%;
  margin: 0 auto;
  display: flex; }
  .header-navLogoImg {
    height: 85px;
    width: 200px;
    margin-top: 40px; }
  .header-navListItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 70px;
    margin-left: auto;
    color: black;
    text-transform: uppercase;
                      }
  .header-navItem {
    margin-left: 40px;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 900;
    font-size: 17px; }
  .header-navItemLink {
    cursor: pointer;
    color: black; }
  .header-navItemPlus {
    cursor: pointer;
    height: 12px;
    width: 12px; }

.sectionContainer{
  margin: 140px 0 0 0;}

.section-gifTitle {
  font-family: "Raleway", Arial, sans-serif;
  color: black;
  font-weight: 100;
  font-size: 22px;
  display: flex;
  margin: 80px 0 5px 360px;
  text-transform: uppercase;}





.section-gif {
  width: 50vw;
  height: 50vh;
  display: flex;
  margin: 0 auto;
  }
.gif {
  width: 100%;
  border: 2px solid aquamarine;
  box-shadow: 2px 3px 10px grey;
  margin-top: 5px ;
}

.backBtn {
  color: #fff;
  background: #000;
  padding: 10px;
  width: 50px;
  text-align: center;
  font-size: 16px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 900;
  margin: 0 0 0 130px;
}

.titles {
  font-family: "Raleway", Arial, sans-serif;
  margin: 40px 0 0 130px;
  font-weight: 900;
}

.gifContainer {
  margin: 5px 130px auto;
  display: flex;
  align-items: flex-start; }

.boxLeft,
.boxRight {
  margin-right: 20px;
  width: 25%;
  display: flex;
  flex-direction: column; }

.boxCenter {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px; }

.img {
  margin-bottom: 25px;
  transition: 0.7s; }

.blueHashtag {
  color: #55D6CB;
}
